In [10]:
# lec 11 data types in python
'''
python is an object oriented programming language so everything is considered as an object.
Here datatypes are considered as classes and variable you create are called instance or objects of these classes.
'''
var_1 = 123
var_2 = 123.5
var_3 = 0b1011
var_4 = 0o123
var_5 = 0x123
var_6 = 0x1a4

print(var_1,type(var_1))
print(var_2,type(var_2))
print(var_3,type(var_3))
print(var_4,type(var_4))
print(var_5,type(var_5))
print(var_6,type(var_6))

123 <class 'int'>
123.5 <class 'float'>
11 <class 'int'>
83 <class 'int'>
291 <class 'int'>
420 <class 'int'>

In [11]:
#subscript in string 
str1 = "computer"
str1[0] #[0] is called index

'c'

In [25]:
#use backslash(\) to remove/skip the special meaning of the "" inside "" or '' inside ''
str2 = " AI \"is\" be the future"
print(str2)
str3 = 'data analysts \'know\' python,excel,sql and power BI'
print(str3)
str4 = "jenny's lectures"
print(str4)
str5 = "jenny\'s \"lectures\""
print(str5)
str6 = str5 = "jenny\'s \n \"lectures\""
print(str6)
str6 = str5 = "jenny\'s \\n \"lectures\""
print(str6)
print(3*str6)

 AI "is" be the future
data analysts 'know' python,excel,sql and power BI
jenny's lectures
jenny's "lectures"
jenny's
 "lectures"
jenny's \n "lectures"
jenny's \n "lectures"jenny's \n "lectures"jenny's \n "lectures"

In [36]:
#lec 12 type casting
length = len("vaishnavi's home")
print("your name is having " + str(length) + " characters") 
print(type(length))
print(type(str(length)))

print(10+10)
print("10"+"10")
print(int("10")+int("10"))
print(float(10))
print(int("10")+float("10"))

your name is having 16 characters
<class 'int'>
<class 'str'>
20
1010
20
10.0
20.0

In [42]:
name = "vivek"
print("10"+name)
#print(10+int(name)) #TypeError bcz int and str can't concatenate. string value is "vivek" which can't typecast into int(in decimal)
new_name = "123"
print(10+ int(new_name)) #bcz new_name is "123" which can be typecasted(or you can say converted) into int.

10vivek
133

In [46]:
#assignment
num1 = int(input("enter first number : "))
num2 = int(input("enter second number : "))
add = num1 + num2
print("addition of the two number is "+ str(add))

enter first number : 1
enter second number : 4
addition of the two number is 5

In [48]:
#lec 13 exercise
num = input("enter a two digit number : ")
digit1 = int(num[0]) # string subscripting
digit2 = int(num[1])
add = digit1 + digit2
print(add)

enter a two digit number : 99
18