In [1]:
#lec41part1

In [2]:
#duplicate items are not allowed in set
set1 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
set2 = {4,6,8,3,2,5,75,7,3,2,2,-77,-34,7.5,7.5,True,True,1,1,"ria","ria"}
print(set1) # True and 1 are duplicate values same as 0 and False
print(set2) # whichever value comes first(1 or True), it'll print that only

{1, 2, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}
{True, 2, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}

In [3]:
#set doesn't have defined order.(sequence of items can change in output)
set3 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
print(set3) #don't get 4 after 1

{1, 2, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}

In [4]:
#subscripting is not allowed in set bcz set is unordered.
print(set1[1])

TypeError: 'set' object is not subscriptable

In [5]:
#slicing is not allowed in set

In [6]:
#can't create an empty set using {}
set3 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
set4 = {}
print(type(set3))
print(type(set4))

#empty set will be created using ()
set5 =set()
print(type(set5))

<class 'set'>
<class 'dict'>
<class 'set'>

In [7]:
#indexing is not allowed in set bcz set is unordered.
set1[1]=0

TypeError: 'set' object does not support item assignment

In [8]:
#But we can change in whole set
set6 = set()
set6.add(99) #one item at a time
print(set6)
#can add immutable items also
set6.add((23,67,True))
print(set6)
#set use "hash table" data structure to store the items hence mutable items can't be added.

{99}
{(23, 67, True), 99}

In [9]:
set1 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
print(set1)
print(len(set1)) #duplicate items will not count

{1, 2, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}
13

In [10]:
set7 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
set7.remove(2) #it'll remove all 2s from the set(including duplicate also)
print(set7)
set7.remove(99) #it'll give KeyError bcz 99 is not on the set
print(set7)

{1, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}

KeyError: 99

In [11]:
set8 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
set8.discard(2) #discard all 2s from the set(including duplicate)
print(set8)
set8.discard(99) #99 is not on the set BUT if item is not on the set, it'll not give any error as remove function gives.
print(set8)

{1, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}
{1, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}

In [12]:
set9 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
set9.clear()
print(set9)

set()

In [13]:
set11 = {1,4,6,8,3,2,5,75,7,3,2,2,1,-77,-34,7.5,7.5,True,True,"ria","ria"}
print(set11.pop()) #remove any random item from the set and it'll return that item also
print(set11)

1
{2, 3, 4, 5, 6, 7, 8, 7.5, 75, -77, 'ria', -34}

In [54]:
#lec41part2 -- union, update, intersection, intersection_update

In [68]:
# s1 union s2 = gives all the values of both sets but not the duplicates. Also it'll not change the values of original sets(basically in which set you are performing the operation)
# s1 update s2 = gives all the values of both sets but not the duplicates. Also it'll update the values of original sets(basically in which set you are performing the operation)
# s1 intersection s2 = gives common values. Not change the original values of the set on which you are performing the operations
# s1 intersection_update s2 = gives common values. Update the original values of the set on which you are performing the operations

In [46]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8}
# Two types of operators for union of sets(but with subtle difference)
#union operator - Both the operands should not be sets only,it can be list, tuple,set etc. So also allows other objects for union 
print(s1.union(s2))
print(s1.union(s2,s3))
print(s1.union((9,10)))
print(s1.union([9,10]))

# | operator - Both the operands should be sets. Not allows other objects for union
print(s1|s2)
print(s1|s2|s3)
print(s1|(9,10))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 9, 10}
{1, 2, 3, 4, 9, 10}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [90]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8}
s2.update(s1) #add values of s1 to s2. It is union update of any set means without duplicate items
print(s2)
s1.update(s2) #add values of s2 to s1
print(s1)
s3.update(["ram",13,-5,7])
print(s3)
# we can update with the help of |= operator also. s1 |= s2 It'll update s1 with the help of s2 values and no duplicates are allowed.
s1={1,2}
s2 ={2,3,4}
s1|=s2
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{7, 8, 'ram', 13, -5}
{1, 2, 3, 4}

In [48]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8}
#gives common values
print(s1.intersection(s2))
print(s1.intersection(s2,s3))
print(s1.intersection(["ram","sita"]))
print(s1.intersection(["ram","sita",1,2]))
print(s1 & s2) #intersection with the help of & operator
print(s1 & s2 & s3)
print(s1 & ["thomas",1,4]) #not allowed, all should be sets
print(s1 & ("thomas",1,4)) #not allowed, all should be sets

{3, 4}
set()
set()
{1, 2}
{3, 4}
set()

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [52]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8}
s1.intersection_update(s2)
print(s1)
print(s2)
s2.intersection_update(["ram",1,3])
print(s2)

{3, 4}
{3, 4, 5, 6}
{3}

In [55]:
#lec41part3 -- difference, difference_update, symmetric_difference, symmetric_difference_update

In [ ]:
#mathematical formula
# s1 difference s2 = items of s1 which are not in s2 (BUT it'll not update the original set values of s1(basically in which set you are performing the operation))
# s1 difference_update s2 = items of s1 which are not in s2 (BUT it'll update the original set values s1(basically in which set you are performing the operation))
# symmetric_difference of set = (set1 union set2)-(set1 intersection set2)
# s1 symmetric_difference s2 = set of all the elements which are either in s1 or s2 but not in both.
# s1 symmetric_difference_update s2 = set of all the elements which are either in s1 or s2 but not in both.BUT it'll update the original set values s1(basically in which set you are performing the operation))

In [66]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8,1}
print(s1.difference(s2))
print(s1.difference(s2,s3))
print(s1-s2)
print(s1.difference((3,2)))

{1, 2}
{2}
{1, 2}
{1, 4}

In [67]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8,1}
s1.difference_update(s2)
print(s1)
s3.difference_update([2,7,0])
print(s3)

{1, 2}
{8, 1}

In [74]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8,1}
print(s1.symmetric_difference(s2))
print(s1 ^ s2)
print(s1 ^ s2 ^ s3) #this can apply on multiple sets
print(s1.symmetric_difference(s2,s3)) #this can't apply on multiple sets bcz set.symmetric_difference() takes exactly one argument (2 given)

{1, 2, 5, 6}
{1, 2, 5, 6}
{2, 5, 6, 7, 8}

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [77]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = {7,8,1}
s2.symmetric_difference_update(s1)
print(s2)
s1.symmetric_difference_update((1,2,77,99,0))
print(s1)

{1, 2, 5, 6}
{0, 3, 4, 99, 77}

In [78]:
#lec41part4 disjoint set, subset and superset

In [79]:
# Disjoint set(no special symbol) - Both sets have nothing in common. Their intersection is an empty set.
# Subset(<=) - s1 is subset of s2 if every element of s1 is in s2
# Superset(>=) - s1 is superset of s2 if s1 contains every element of s2(or if every element of s2 is in s1 )

In [81]:
#disjoint
s1={1,2,3,4}
s2 ={5,6,7,8}
print(s1.isdisjoint(s2))
print(s1.isdisjoint([1,2,45,765]))

True
False

In [85]:
#subset
s1={1,2,3,4}
s2 ={1,2,3,4,5,6,7,8}
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1<=s2)
print(s1<=s1)
print(s1.issubset([1,2,45,765]))

True
False
True
True
False

In [86]:
#superset
s1 ={1,2,3,4,5,6,7,8}
s2={1,2,3,4}
print(s1.issuperset(s2))
print(s2.issuperset(s1))
print(s1>=s2)
print(s1>=s1)
print(s1.issuperset([1,2,45,765]))

True
False
True
True
False

In [88]:
# clear and del difference - clear only empty out the set but del deletes the whole set
set1 = {1,4,6,8}
set1.clear()
print(set1)
set2 = {1,4,6,8}
del(set2)
print(set2) # set2 is not defined bcz there is no set present in the memory due to del keyword.It deleted the set2.

set()

NameError: name 'set2' is not defined