In [2]:
a = int(input("enter value for a in integer form"))
b = int(input("enter value for b in integer form"))

print("a is",a)
print("b is",b)

enter value for a in integer form5
enter value for b in integer form6
a is 5
b is 6


# Naming of Identifiers(variable names)
    Python Class names start with an uppercase letter. All other identifiers start with a lowercase letter.

    Starting an identifier with a single leading underscore indicates that the identifier is private identifier.

    Starting an identifier with two leading underscores indicates a strongly private identifier.

    If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.

In [9]:
total = "1" + \
        "2" + \
        "3"
print(total)

123

In [10]:
paragraph = """This is a paragraph. It is
 made up of multiple lines and sentences."""
print (paragraph)

This is a paragraph. It is
 made up of multiple lines and sentences.

In [14]:
str = 'Hello World!'
print(str[0])
print(str[2:5])
print(str[2:6])
print(str[2:7])
print(str[2:])
print(str*3)
print(str + "It's me")

H
llo
llo
llo W
llo World!
Hello World!Hello World!Hello World!
Hello World!It's me

In [22]:
a_tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
a_tuple[2] = 1000    # Invalid syntax with tuple bcz tuple doesn't support item assignment
list[2] = 1000     # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

In [1]:
>>> my_tuple = ('a', 'b', 'c', 'd', 'e')
>>> my_tuple[2]  # Press Enter after typing this

'c'

In [24]:
a=9
print(bool(a))

True

In [3]:
var1=True 
var2 = var1
var1 = False
print("var1 is : {}".format(var1))
print("var2 is : {}".format(var2))
#immutable bool

var1 is : False
var2 is : True

In [6]:
#practice python basics bepec 1&2 copy. 
#execute code by copying lines

print("vaishnavi")

a=33
print(a)
print(type(a))

type(a)

a = range(6)
for i in a:
    print(i)

a=range(2,6)
for i in a:
    print(i)

a=range(2,6,3)
for i in a:
    print(i)

a=range(2,6,-1)
for i in a:
    print(i)

a=range(6,2,-1)
for i in a:
    print(i)

type(a)

def test():
    print("welcome")
    return 
y = test()
print(y)
    

def test():
    print("welcome")
    return 9
y = test()
print(y)
    

def test():
    print("welcome")
    return "xyz" 
y = test()
print(y)
    

a= 23
b = 5.5
c = 3+6j
d = "asdfg"
e = True
f = (25, 20.22,"fdf",["a","rest","good"])

id(a)

id(b),id(c),id(d),id(e),id(f)

type(a),type(b),type(c),type(d),type(e),type(f)

d=100
id(d)

d=4
id(d)

d

id(d)

var1 = 8

var2 =var1

var2

var1 = 3

var2

var1=True 
var2 = var1
var1 = False
print("var1 is : {}".format(var1))
print("var2 is : {}".format(var2))


print("hence {} {} {} {} are immutable objects ".format("int", "float","tuple","bool"))

#list, dict, set and bytearray are mutable objects.

list1 = [1,3,4,5]
list2 = list1
print(list1,list2)
list1[0] = 22
print(list1,list2)

set1 = {1,1,3,4,5,5}
set2 = set1
print(set1,set2)
set1.add(55)
print(set1,set2)

dict1 = {"name":"vaishnavi", "surname":"negi"}
dict2 = dict1
print(dict1,dict2)
dict1["name"] = "yashodhan"
print(dict1,dict2)


d = { "sales": (2000,4000,5000,6000), 'profit': [40,50,60,70]}

type(d)

import pandas as pd
df = pd.DataFrame(d)
print(df)

df["profit"].max()

import pandas as pd
h = pd.Series(list1)
print(h)

type(h)

vaishnavi
33
<class 'int'>
0
1
2
3
4
5
2
3
4
5
2
5
6
5
4
3
welcome
None
welcome
9
welcome
xyz
var1 is : False
var2 is : True
hence int float tuple bool are immutable objects
[1, 3, 4, 5] [1, 3, 4, 5]
[22, 3, 4, 5] [22, 3, 4, 5]
{1, 3, 4, 5} {1, 3, 4, 5}
{1, 3, 4, 5, 55} {1, 3, 4, 5, 55}
{'name': 'vaishnavi', 'surname': 'negi'} {'name': 'vaishnavi', 'surname': 'negi'}
{'name': 'yashodhan', 'surname': 'negi'} {'name': 'yashodhan', 'surname': 'negi'}
   sales  profit
0   2000      40
1   4000      50
2   5000      60
3   6000      70
0    22
1     3
2     4
3     5
dtype: int64

pandas.core.series.Series

In [24]:
a = input("enter a 2 digit number : ")
b = int(a[0])
c = int(a[1])
s = b + c
print("sum of digits of a is",s)

enter a 2 digit number : 35
sum of digits of a is 8

'12'

str

1

int

2

int

3